.footer{
 background-color: #2976ec;
 min-width: 100%;
 min-height: 10vh;
 font-family: 'Titillium Web', sans-serif;
}

.footer-div {
  max-width: 750px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 50px auto 0px;

}

.footer-copyright {
  padding-top: 20px;
  flex-basis: 50%;
  font-size: 13px;
  color: white;
}

.footer-links {
  flex-basis: 50%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.footer-links-item {
  color: white;
  font-size: 22px;
  padding: 0px 7px;
  transition: color 0.5s ease 0s;
}

@media screen and (max-width: 650px){
  .footer-div{
    display: block;
    padding: 10px 0;
  }

  .footer-copyright{
    padding: 0 30px;
  }
  
  .footer-links{
    padding: 0 120px;
  }
}